//colors
$main-color:#009c3b;
$nav-color: #111111;
$text-color-nav:#fff;
$side-nav-text:#818181;
$text-color:#000;
$text-color-white:#fff;
$bg-color-nav:#333;
$section-color-1:#fff;
$border-color: #fff;
$border-color-news: #000;
$section-text:#fff;
$social: #333;
$contact-form:#333;
$contact-form-lite:#eee;
$contact-form-button:#818181;
$contact-form-text:#000;
$contact-form-text-lite:#fff;
$contact-shadow:0 0 20px 0 rgba(102, 102, 102, 0.7);
$newsletter-border:#d3d3d3;
$newsletter-text:#fff;
$header-text: rgba(51, 51, 51, 0.377);
$news-shadow:0 6px 20px 0 rgba(0, 0, 0, 0.5),
0 6px 20px 0 rgba(0, 0, 0, 0.5);
//fonts
$font-size-standard: 15px;